@model web.Models.COUNTRY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COUNTRY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ioc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ioc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
