<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <title>@ViewBag.Title - Galadventure S.A</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
    @Styles.Render("~/Content/themes/base/css")
  
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Angreju", "Index", "Lancha", new { id = 3 }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Magic", "Index", "Lancha", new { id = 4 }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Solitario", "Index", "Boat", new { id = 5 }, new { @class = "navbar-brand" })
               
                }
                @*     @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    @if (!Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "navbar-brand" })
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navbar-brand" })
                        @Html.ActionLink("Terms", "Terms", "Home", null, new { @class = "navbar-brand" })
                    }

                    @if (Request.IsAuthenticated && (User.IsInRole("Manager") || User.IsInRole("Contador")))
                    {
                    <li>@Html.ActionLink("ReservaAngreju", "Index", "Lancha", new { id = 3 }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("ReservaMagic", "Index", "Lancha", new { id = 4 }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("ReservaSolitario", "Index", "Boat", new { id = 5 }, new { @class = "navbar-brand" })</li>

                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("A-C", "Index", "CATEGORY")</li>
                        <li> @Html.ActionLink("A-P", "Index", "PROVIDER") </li>
                        <li>@Html.ActionLink("A-Ag", "Index", "AGENCY")</li>
                        <li>@Html.ActionLink("A-Agt", "Index", "AGENT")</li>
                        <li>@Html.ActionLink("G-T-P", "Index", "GASTOS_TYPE_PROVIDER")</li>
                        <li>@Html.ActionLink("G-T", "Index", "GASTOS_TYPE")</li>
                        <li>@Html.ActionLink("G-OP", "Index", "GASTOS_OPERATION")</li>
                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                    }
                
                    @if (Request.IsAuthenticated && (User.IsInRole("IPax") || User.IsInRole("Admin")))
                    {
                        <li>@Html.ActionLink("Category", "Index", "ICategory")</li>
                        <li> @Html.ActionLink("C-Place", "Index", "ICategoryPlace") </li>
                        <li>@Html.ActionLink("Proveedor", "Index", "IProveedor")</li>
                        <li>@Html.ActionLink("Itinerary", "Index", "IItinerary")</li>
                        <li>@Html.ActionLink("SalesGroup", "Index", "ISalesGroup")</li>
                        <li>@Html.ActionLink("Sales", "Index", "ISales")</li>                      
                        <li>@Html.ActionLink("Paxs", "Index", "IPax")</li>
                        <li>@Html.ActionLink("Agents", "Index", "IAgent")</li>
                    }

                </ul>
             
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Julian Jaya's ASP.NET Application</p>
            <br />
            <div style="text-align:right">
                @Html.Partial("_LoginPartial")
            </div>
          
        </footer>
   
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
