@model SalesApp.Models.Entities.I_SalesGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>I_SalesGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatsAppName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatsAppName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItineraryDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItineraryDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ready)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ready)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPricePaxs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPricePaxs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPriceSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPriceSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_Agent.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Agent.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_MembersNumber.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_MembersNumber.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
